{% extends "base.html" %} {% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter password"
      />
    </div>
    <!-- add a breakline-->
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}

<!-- for if statements:

begin with curly brackets and percent signs
write conditional statement in between the percent signs
then write what you want to output (ex: "Yes it is true!")
then close the conditional statement with "endif" between the percent signs
or you can use an else statement with "else" between the percent signs

-->